@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (orientation: portrait) {
  .rotate-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    color: #333;
    font-size: 18px;
  }

  .app-content {
    display: none; /* 縦向きの場合は非表示に */
  }
}

@media only screen and (orientation: landscape) {
  .rotate-message {
    display: none;
  }

  .app-content {
    display: block; /* 横向きの場合は表示する */
  }
}
